
<!--		
	====================================
		 	Add Client 
	=====================================
-->	

<div class="row">
    
    <h1 id="login-logo">Tracing Ink</h1>
    
</div>

<div class="row addButtonRow" >

    <a href="/#/clients" class="backButton">BACK</a>

</div>

<div class="row">
    
    <div class="panel secured">
        
        <div class="panel-head">Add New Client</div>
        
        <div class="panel-body">
            
            <form method="post" ng-submit="addClient()" ng-controller="clientsController">
                
                <div class="row">
                    <label for="cName">Client Name:</label>
                    <input type="text" name="cName" ng-model="client.cName">
                </div>
                
                <div class="row">
                    <label for="email">Email:</label>
                    <input type="email" name="email" ng-model="client.email">
                </div>
                

                
                <div class="row">
                    <input type="submit" class="submit" value="Create">
                </div>
                
            </form>
            
        </div>
    </div>
</div>
