
<!--		
	====================================
		 	All Clients 
	=====================================
-->	

<div class="row pushDown">
    
    <h1 id="login-logo">Tracing Ink's Clients</h1>
    
</div>

<div class="row addButtonRow">

    <a href="/#/addClient" class="addButton addNew">New Client</a>

</div>

<div class="row">
    <div class="row">
        
         <div class="panel" ng-repeat="client in clients" >
        
            <div class="panel-head" ng-click="panelOpen = !panelOpen">
            
                <p class="panel-main left">{{client.cName}}</p>
                
            </div>

<!--
            <div class="panel-body" ng-show="panelOpen">

                <div class="row">
                    <button type="submit" class="submit"  ng-click="message(member)">
                        New Message
                    </button>
                </div>
            </div>
-->
        </div>
</div>
</div>
