<!--Top Navigation-->
<div class="row" id="top-nav" ng-show="authData">

    <div id="sidenav_btn">
        <img src="img/burgerstack_single.png" id="sidenav_btn1">
        <img src="img/burgerstack_single.png" id="sidenav_btn2">
    </div>

    <div id="page-title">
        <h3>{{pageTitle}}</h3>
    </div>

    <div id="user-profile-btn">    
        <img src="img/user_profile_blank.png" id="user-profile-img">
    </div>

</div>

<!-- Side Navigation -->
<div class="row" id="side-nav" ng-show="authData">

    <div class="row">
        <h3>{{user.cName}}</h3>
    </div>

    <div class="row" id="sidenav_alert">
        <p><img src="img/alert_icon.png"> 2 tasks due today</p>
    </div>


</div>