
<!--		
	====================================
		 	New Project
	=====================================
-->	

<div class="row page-header">
    
    <a ng-href="/#/projects"><h1 id="login-logo">{{user.cName}}'s Projects</h1></a>
    
</div>

<div class="row addButtonRow">

    <a href="/#/projects" class="addNew close">X</a>

</div>

<div class="row">
    
    <div class="panel secured">
        
        <div class="panel-head">Add New Project</div> 
        
        <div class="panel-body">
            
            <form method="post" ng-submit="addProject()" ng-controller="projectsController">
                
                <div class="row">
                    
                    <label for="name">Project Name:</label>
                    
                    <input type="text" name="name" ng-maxlength="24" maxlength="25" ng-minlength="3" minlength="3" ng-required="true" ng-model="project.name">
                    
<!--
                    <p class="help-block" ng-show="addProject.name.$invalid && addClient.cName.$touched">Project name is required.</p>
                    <p class="help-block" ng-show="addProject.name.$error.minlength">Project name is too short.</p>
                    <p class="help-block" ng-show="addProject.name.$error.maxlength">Project name is too long.</p>
-->
                
                </div>
                
                <div class="row">
                    <label for="dueDate">Due by (Optional):</label>
                    <input type="date" name="dueDate" ng-model="project.dueDate"  ng-maxlength="10" maxlength="10" ng-minlength="10" minlength="10" placeholder="yyyy-MM-dd">
                    
                </div>
                
                <div class="row">
                    <label for="dueTime">Time (Optional):</label>
                    <input type="time" name="dueTime" ng-model="project.dueTime" maxlength="8" placeholder="hh:mm:ss">
                </div>
                
                <div class="row">
                    <label for="description">Description:</label>
                    <textarea name="description" ng-model="project.description" ng-maxlength="200" maxlength="201"></textarea>
<!--                    <p class="help-block" ng-show="addProject.description.$error.maxlength">Description is too long.</p>-->
                </div>

                <div class="row">
                    <label for="team" ng-show="teamMembers.length > 1">Assign Members:</label>
                    <div class="row" ng-repeat="member in teamMembers">
                        <input type="checkbox" ng-hide="member._id == user._id" class="checkbox" name="team" checklist-model="project.members" checklist-value="member._id"> <p class="checkboxLabel" ng-hide="member._id == user._id">{{member.fname}} {{member.lname}}</p>
                    </div>
                    
                </div>
                
                <div class="row">
                    <input type="submit" class="submit" value="Create">
                </div>
                
                
            </form>
            
        </div>
    </div>
</div>
