<div class="row pushDown" ng-class="{true: 'pushDown', false: ''}[user.type == 3]">
    
    <h1 id="login-logo">{{user.cName}}'s Projects</h1>
    
</div>

<div class="row addButtonRow" ng-show="user.type==1 || user.type==2">

    <a href="/#/newProject" class="addNew">New Project</a>
    <a class="page-header">Active Projects:</a>

</div>

<div class="row">

    <div class="panel" ng-repeat="project in projects" >
        <a ng-href="#/project/{{project._id}}" class="project-link">
            <div class="panel-head">
                
                <p class="panel-main halved cluttered">{{project.name}}</p>
                <p class="panel-main halved right">{{project.dueDate.month}} / {{project.dueDate.day}} / {{project.dueDate.year}}</p>
                <p class="panel-main cluttered secondary left">{{project.members.length}} Members</p>
                <p class="panel-main cluttered secondary right">{{project.dueDate.hour}}:{{project.dueDate.minute}} {{project.dueDate.hourFormat}}</p>

            </div>
        </a>

    </div>

</div>