<div class="row">
    
    <h1 id="login-logo">{{project.name}}</h1>
    <h1 id="login-logo-secondary">Manager: {{project.manager.fname}} {{project.manager.lname}}</h1>
    
</div>

<div class="row">
        
        <div class="clear-panel ">
        
            <div class="panel-head-clear">
                <p class="panel-main left">Description:</p>

            </div>

            <div class="panel-body">

                <p>{{project.description}}</p>

            </div>
            
            
        </div>
</div>

<div class="row addButtonRow">

    <a href="/#/newTask" class="addButton">+ NEW TASK</a>

</div>

<div class="row">

    <div class="panel panel-dropdown" >
        
        <div class="panel-head" ng-click="panelOpen = !panelOpen">
            <p class="panel-main left">Task Name</p>
            <p class="panel-main right">Due date</p>
        </div>
        
        <div class="panel-body" ng-show="panelOpen">
       
            <div class="row">
                <button type="submit" class="submit"  ng-click="message(member)">
                    New Message
                </button>
            </div>
        </div>
        
<!--
        <div class="panel-body" ng-class="{open:panelOpen}">
       
            <div class="row">
                <button type="submit" class="submit"  ng-click="message(member)">
                    New Message
                </button>
            </div>
        </div>
-->


    </div>

</div>