<div class="row">
    
    <h1 id="login-logo">{{project.name}}</h1>
    <h1 id="login-logo-secondary">Manager: {{project.manager.fname}} {{project.manager.lname}}</h1>
    
</div>

<div class="row">
        
        <div class="clear-panel ">
        
            <div class="panel-head-clear">
                <p class="panel-main left">Description:</p>

            </div>

            <div class="panel-body">

                <p>{{project.description}}</p>

            </div>
            
            
        </div>
</div>

<div class="row addButtonRow">

    
    <a ng-href="/#/newTask/{{project._id}}" class="addButton right">+ NEW TASK</a>
    <a class="addButton left">Active Tasks:</a>

</div>

<div class="row">

    <div class="panel panel-dropdown" ng-repeat="task in tasks" >
        
        <div class="panel-head" ng-click="panelOpen = !panelOpen">
            <p class="panel-main left">{{task.name}}</p>
            <p class="panel-main right">{{task.members.length}} Members</p>
        </div>
        
        <div class="panel-body" ng-show="panelOpen">
       
            <div class="row">
                <p>
                    {{task.description}}
                </p>
            </div>
            
            <div class="row">
                <button type="submit" class="submit"  ng-click="complete(task._id)">
                    Complete
                </button>
            </div>
            
            <div class="row">
                <button type="submit" class="edit"  ng-click="edit(task._id)">
                    Edit
                </button>
            </div>
            
            <div class="row">
                <button type="submit" class="delete"  ng-click="delete(task._id)">
                    Delete
                </button>
            </div>
            
        </div>
        
<!--
        <div class="panel-body" ng-class="{open:panelOpen}">
       
            <div class="row">
                <button type="submit" class="submit"  ng-click="message(member)">
                    New Message
                </button>
            </div>
        </div>
-->


    </div>

</div>