<% include header %>

<!--		
====================================
 			Dashboard
=====================================
-->			
<div class="row">
	<div class="small-12 columns">
		<p> </p>
	</div>
	<div class="small-12 columns">
		<h1 class="text-center">Welcome <%=fname%></h1>
	</div>
	<div class="small-12 columns">
		<p class="text-center">
			What would you like to do?
		</p>
	</div>
</div>

<% include footer  %>