<!--		
			====================================
						  Footer
			=====================================
-->		
                <script src="/js/vendor/jquery.js"></script><!-- jQuery.JS-->
            </body>
        </section><!--End of Main Section-->
    </div> <!-- End of Wrapper -->
</html>