<% include header %>

<!--
====================================
 			Home Page
=====================================
-->

<div class="row">
	<div class="small-12 columns">
		<p> </p>
	</div>
	<div class="small-12 columns">
		<h1 class="text-center" style="color:#412686">Antonio Figueroa's Portfolio to be...</h1>
	</div>
	<div class="small-12 columns">
		<h3 class="text-center"><strong>Please follow us on <a href="https://github.com/AFigueroa/Portfolio">GitHub</a></strong></h3>
	</div>
    <div class="small-12 columns">
		<a href="/users/login"  class="small-12 columns button [radius round]">Login</a>
    </div>
</div>

<p class="text-center">----------------------------------------</p>

<% include footer  %>
