<% include header %>
<!--		
	====================================
		 		 Login Form
	=====================================
-->		

<div class="row">
    <h1 id="login-logo">Tracing Ink</h1>
    <p id="login-branding">Project Management Made Simple</p>
</div>

<div class="row">
    <div class="panel">
        <div class="panel-head">Login</div>
        <div class="panel-body"></div>
    </div>
</div>

<% include footer %>