<% include header %>
<!--		
	====================================
		 		 Register Form
	=====================================
-->		

<div class="row">
    
    <h1 id="login-logo">Tracing Ink</h1>
    <p id="login-branding">Project Management Made Simple</p>
    
</div>

<div class="row">
    
    <div class="panel">
        
        <div class="panel-head">Register</div>
        
        <div class="panel-body">
            
            <form action="/registeraction" method="post">
                
                <div class="row">
                    <label for="fname">First Name:</label>
                    <input type="text" name="fname">
                </div>
                
                <div class="row">
                    <label for="lname">Last Name:</label>
                    <input type="text" name="lname">
                </div>
                
                <div class="row">
                    <label for="email">Email:</label>
                    <input type="text" name="email">
                </div>
                
                <div class="row">
                    <label for="phone">Phone:</label>
                    <input type="phone" name="phone">
                </div>
                
                <div class="row">
                    <label for="pass">Password:</label>
                    <input type="password" name="pass">
                </div>
                
                <div class="row">
                    <label for="repass">Confirm Password:</label>
                    <input type="password" name="repass">
                </div>
                
                <div class="row">
                    <input type="submit" class="submit" value="Register">
                </div>
                
                <div class="row">
                    <p class="form-anchor"><a href="/">Already a member? Log in here.</a></p>
                </div>
                
            </form>
            
        </div>
    </div>
</div>

<% include footer %>