/* Layout Styles */
html,body{
    overflow-x: hidden;
}
body{
/*    width: 100%;*/
    background-image: url("/img/pattern.png");
    background-repeat: repeat;
    font-size: 16px;
    letter-spacing: 1px;
}

.row{
    width: 100%;
    min-width: 320px;
    clear: both;
    padding: 0;
    margin: 0;
}

#wrapper{
    z-index: 0;
}

.page-header{
    display: block;
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    padding-bottom: 20px;
}

/*Top Nav*/
#top-nav, #btm-nav{
    position: fixed;
    top: 0;
    height: 65px;
    background-color: #F2F0F0;
}

.views-section{
    margin-top: 100px;
}

.views-section-logged-off{
    margin-top: 0;
}

#sidenav_btn, #btm-bar-toggle{
    z-index: 1;
    position: absolute;
    width: 38px;
    float: left;
    padding: 14.5px;
}

#page-title, #btm-bar-title{
    text-align: center;
    height: 36px;
    padding: 14.5px 31%;
    z-index: -1;
    line-height: 0;
}

.page-header a{
    text-decoration: none;
}

#user-profile-btn{
    width: 100%;
    position: absolute;
}

#user-profile-img{
    position: relative;
    float: right;
    top: -50px;
    width: 45px;
    padding-right: 14.5px;
    z-index: 2;
}

/* Side Navigation */

#side-nav{
    position: fixed;
    top: 65px;
    left: -467px;
    max-width: 350pt;
    width: 100%;
    z-index: 3;
    padding-top: 0;
    height: 900px;
    background: rgba(65,64,66,1);
    background: -moz-linear-gradient(top, rgba(65,64,66,1) 0%, rgba(65,64,66,0.6) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(65,64,66,1)), color-stop(100%, rgba(65,64,66,0.6)));
    background: -webkit-linear-gradient(top, rgba(65,64,66,1) 0%, rgba(65,64,66,0.6) 100%);
    background: -o-linear-gradient(top, rgba(65,64,66,1) 0%, rgba(65,64,66,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(65,64,66,1) 0%, rgba(65,64,66,0.6) 100%);
    background: linear-gradient(to bottom, rgba(65,64,66,1) 0%, rgba(65,64,66,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414042', endColorstr='#414042', GradientType=0 );
}

#side-nav h3{
    margin: 0;
    margin-bottom: 10px;
    color: #E5E5E5;
    text-align: center;
	font-family: 'Helvetica Neue';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
    padding-top:42px; 
}

#sidenav_alert{
    position: absolute;
}

#sidenav_alert p{
    margin: 0;
    font-family: 'Helvetica Neue';
    font-style: normal;
	font-variant: normal;
	font-weight: 100;
    color: #E5E5E5;
    text-align: center;
    line-height: 5px;
}

#sidenav_alert img{
    width: 20px;
    padding-right: 10px;
}
.side-nav-anchors{
    margin-top: 100px;
    width: 100%;
}
.side-nav-anchors a{
    padding-left: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    width: auto;
    display: block;
    font-size: 20pt;
    color: #E5E5E5;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 100;
    text-decoration: none;
	font-variant: normal;
    border-top: 1px #E5E5E5 solid;
}

.side-nav-anchors a:last-of-type{
    border-bottom: 1px #E5E5E5 solid;
}

/* Login's Header Branding */

#login-logo {
    margin: 0;
    margin-top: 30px;
    color: #E5E5E5;
    text-align: center;
	font-family: 'Helvetica Neue';
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 44px;
}

#login-logo-secondary {
    margin: 0;
    margin-top: 0px;
    color: #E5E5E5;
    text-align: center;
	font-family: 'Helvetica Neue';
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 44px;
}

#login-branding {
    margin: 0;
    margin-bottom: 30px;
    color: #E5E5E5;
    text-align: center;
	font-family: 'Helvetica Neue';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 44px;
}

.pushDown{
    padding-bottom: 35px;
}

/* Panel Rules */
.panel{
    width: 90%;
    max-width: 500px;
    min-width: 318px;
    background-color: #F2F0F0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.panel.completed{
    color: #ccc;
    background-color: rgba(242, 240, 240, .50);
}

.panel.completed .panel-body{
    border: 1px rgba(253, 249, 249, 0.75);
    background-color: rgba(253, 249, 249, 0.25);
    color: #6d6d6d;
}

.clear-panel{
    width: 90%;
    max-width: 500px;
    color: #F2F0F0;
    background-color: transparent;
    overflow: hidden;
}

.panel:first-child, .clear-panel:first-child {
    border-radius: 5px 5px 0 0;   
}

.panel:last-child, .clear-panel:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.panel-main{
    width: 100%;
}

.panel-main.halved, .panel-main.cluttered.halved{
    width: 45%;
    padding-right: 0;
}

.panel-main.halved.right{
    margin: 0;
    padding-top: 5px;
    padding-right: 5%;
}

.panel-main.cluttered{
    width: 90%;
    padding-top: 5px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
    margin:0;
    text-align: left;
    
}

.panel-main.date, .panel-main.time.cluttered.right.secondary{
    width: auto;
    float: right;
}

.panel-main.members.cluttered.left{
    padding-right: 0;
    width: 61%;
}

.panel-main.date.halved.right{
    font-size: .85em;
}

.panel-main.projectName{
    width: 70%;
    padding-right: 0;
    font-size: .85em;
}

.panel-main.cluttered.secondary{
    font-size: .75em;
    font-weight: 100;
    position: relative;
    top: -20px;
    height: 23px;
    
}

.panel-main.cluttered.right.secondary{
    width: 45%;
    text-align: right;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 0;
    
}
.panel-main.cluttered.left{
    width: 45%;
    text-align: left;
    padding-right: 0;
    
}

.panel-main.cluttered:last-of-type{
    padding-bottom: 5px;
    padding-top: 0px;
    
}

p.panel-main{

    float: left;
    display: block;
}

a.project-link, a.project-link:visited{
    color:black;
    text-decoration: none;
}

.right{
    padding-right: 5%;
    width: 45%;
    float: right;
    text-align: right;
}
.left{
    padding-left: 5%;
    width: 45%;
    float: left;
    text-align: left;
}

.panel-dropdown .panel-body{
    border-bottom: #d8d8d8 1px solid;
}
p.panel-secondary{
    float: right;
    padding-right: 10%;
    display: inline-block;
    
}

.panel.secured{
    margin-top: 25px;
}

.panel-head{
    overflow: hidden;
    text-align: center;
    font-size: 2.;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    
    background: rgba(92,100,132,0);
    background: -moz-linear-gradient(top, rgba(92,100,132,0) 0%, rgba(92,100,132,0.25) 93%, rgba(92,100,132,0.25) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,100,132,0)), color-stop(93%,     rgba(92,100,132,0.25)), color-stop(100%, rgba(92,100,132,0.25)));
    background: -webkit-linear-gradient(top, rgba(92,100,132,0) 0%, rgba(92,100,132,0.25) 93%, rgba(92,100,132,0.25) 100%);
    background: -o-linear-gradient(top, rgba(92,100,132,0) 0%, rgba(92,100,132,0.25) 93%, rgba(92,100,132,0.25) 100%);
    background: -ms-linear-gradient(top, rgba(92,100,132,0) 0%, rgba(92,100,132,0.25) 93%, rgba(92,100,132,0.25) 100%);
    background: linear-gradient(to bottom, rgba(92,100,132,0) 0%, rgba(92,100,132,0.25) 93%, rgba(92,100,132,0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6484', endColorstr='#5c6484', GradientType=0 );
}

.panel-head-clear{
    overflow: hidden;
    text-align: center;
    font-size: 1.5em;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
}

.clear-panel .panel-body p{
    margin: 0;
    font-weight: 200;
}

.panel-body{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

.clear-panel .panel-main{
    margin-bottom: 0;
    padding-left: 0;
}
.clear-panel .panel-body{
    font-size: 1.2em;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

/* Form Elements */

label{
    color: #000000;
	font-family: 'Helvetica Neue';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 44px;
}

input{
    width: 92%;
    height: 35px;
    color: #000000;
	font-family: 'Helvetica Neue';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
    padding-left: 3%;
    padding-right: 3%;
}

textarea{
    width: 92%;
    color: #000000;
	font-family: 'Helvetica Neue';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
    padding: 1.5% 3%;
    min-height: 40px;
}

.submit, .delete, .edit{ /* Submit button */
    width: 100%;
    margin-top: 10px;
    height: 50px;
    background-color: #6ABCEA;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

.addNew{
    float: right;
    display: inline-block;
    min-width: 80px;
    padding: 8px;
    color: #fcfcfc;
    border-radius: 5px;
    text-align: center;
    outline: none;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: .75em;
    background: #b6e026; /* Old browsers */
    background: -moz-linear-gradient(top,  #b6e026 0%, #1fb74a 82%, #1fba2f 90%, #abdc28 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e026), color-stop(82%,#1fb74a), color-stop(90%,#1fba2f), color-stop(100%,#abdc28)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b6e026 0%,#1fb74a 82%,#1fba2f 90%,#abdc28 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b6e026 0%,#1fb74a 82%,#1fba2f 90%,#abdc28 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b6e026 0%,#1fb74a 82%,#1fba2f 90%,#abdc28 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b6e026 0%,#1fb74a 82%,#1fba2f 90%,#abdc28 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#abdc28',GradientType=0 ); /* IE6-9 */


}

.addNew:hover{
    color: #fff;
    background-color: #50d050
}

.addNew.close{
    z-index: 2;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
    top: 25px;
    margin-bottom: -54px;
    color: #fff;
    min-width: 30px;
    background: #ed3828; /* Old browsers */
    background: -moz-linear-gradient(top,  #ed3828 0%, #c46521 81%, #c64b21 90%, #db7329 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed3828), color-stop(81%,#c46521), color-stop(90%,#c64b21), color-stop(100%,#db7329)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ed3828 0%,#c46521 81%,#c64b21 90%,#db7329 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ed3828 0%,#c46521 81%,#c64b21 90%,#db7329 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ed3828 0%,#c46521 81%,#c64b21 90%,#db7329 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ed3828 0%,#c46521 81%,#c64b21 90%,#db7329 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed3828', endColorstr='#db7329',GradientType=0 ); /* IE6-9 */

}

.addNew.close:hover{
    color: #fff;
    background-color: #f87676
}

.delete{ /* Submit button */
    background-color: #f87676;
}

form .row{
    margin-bottom: 15px;
}
form .row:last-of-type{
    margin-bottom: 0;
}

.form-anchor {
    text-align: center;
    color: #626262;
    font-size: 12px;
    padding-bottom: 15px;
    padding-top: 15px;
}

@media (max-width: 554px) {
  .addButton.right {
    margin-right: 5%;
  }
    .addButton.left {
    margin-left: 5%;
  }
}

.backButton{
    text-decoration: none;
    float: left;
    color: #E5E5E5;
    font-size: 24px;
    padding-bottom: 15px;
    padding-top: 25px;
}

.checkbox{

    width: 10%;
}
.checkboxLabel{
    position: relative;
    bottom: 11px;
    width: 60%;
    display: inline;
    margin: 0;
    
    line-height: -5px;
    
}

.addButtonRow{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 500px;
}

/*------------------Columns------------------*/
/*-------------------------------------------*/
.one{
    width: 8.3333%;
}
.two{
    width: 16.6667%;
}
.three{
    width: 25%;
}
.four{
    width: 33.3333%;
}
.five{
    width: 41.6667%;
}
.six{
    width: 50%;
}
.seven{
    width: 58.3333%;
}
.eight{
    width: 66.6667%;
}
.nine{
    width: 75%;
}
.ten{
    width: 83.3333%;
}
.eleven{
    width: 91.6667%;
}
.twelve{
     width: 100%;
 }
.column, .columns{
    position: relative;
    float: left;
    min-height: 35px;
    display: block;
}