/* Layout Styles */
html,body{
    overflow-x: hidden;
}
body{
/*    width: 100%;*/
    background-image: url("/img/pattern.png");
    background-repeat: repeat;
    font-size: 16px;
}

.row{
    width: 100%;
    clear: both;
    padding: 0;
    margin: 0;
}

/*Top Nav*/
#top-nav{
    height: 65px;
    background-color: #F2F0F0;
}

#sidenav_btn{
    z-index: 1;
    position: absolute;
    width: 38px;
    float: left;
    padding: 14.5px;
}

#page-title{
    text-align: center;
    height: 36px;
    padding: 14.5px 31%;
    z-index: -1;
    line-height: 0;
}

#user-profile-btn{
    width: 100%;
    position: absolute;
}

#user-profile-img{
    position: relative;
    float: right;
    top: -50px;
    width: 45px;
    padding-right: 14.5px;
    z-index: 2;
}

/* Side Navigation */

#side-nav{
    position: absolute;
    top: 500;
    left: -467px;
    max-width: 350pt;
    width: 100%;
    z-index: 3;
    padding-top: 0;
    height: 750px;
    background: rgba(65,64,66,1);
    background: -moz-linear-gradient(top, rgba(65,64,66,1) 0%, rgba(65,64,66,0.6) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(65,64,66,1)), color-stop(100%, rgba(65,64,66,0.6)));
    background: -webkit-linear-gradient(top, rgba(65,64,66,1) 0%, rgba(65,64,66,0.6) 100%);
    background: -o-linear-gradient(top, rgba(65,64,66,1) 0%, rgba(65,64,66,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(65,64,66,1) 0%, rgba(65,64,66,0.6) 100%);
    background: linear-gradient(to bottom, rgba(65,64,66,1) 0%, rgba(65,64,66,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414042', endColorstr='#414042', GradientType=0 );
}

#side-nav h3{
    margin: 0;
    margin-bottom: 10px;
    color: #E5E5E5;
    text-align: center;
	font-family: 'Helvetica Neue';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
    padding-top:42px; 
}

#sidenav_alert{
    position: absolute;
}

#sidenav_alert p{
    margin: 0;
    font-family: 'Helvetica Neue';
    font-style: normal;
	font-variant: normal;
	font-weight: 100;
    color: #E5E5E5;
    text-align: center;
    line-height: 5px;
}

#sidenav_alert img{
    width: 20px;
    padding-right: 10px;
}
.side-nav-anchors{
    margin-top: 100px;
    width: 100%;
}
.side-nav-anchors a{
    padding-left: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    width: auto;
    display: block;
    font-size: 20pt;
    color: #E5E5E5;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 100;
    text-decoration: none;
	font-variant: normal;
    border-top: 1px #E5E5E5 solid;
}

.side-nav-anchors a:last-of-type{
    border-bottom: 1px #E5E5E5 solid;
}

/* Login's Header Branding */

#login-logo {
    margin: 0;
    margin-top: 30px;
    color: #E5E5E5;
    text-align: center;
	font-family: 'Helvetica Neue';
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 44px;
}

#login-branding {
    margin: 0;
    margin-bottom: 30px;
    color: #E5E5E5;
    text-align: center;
	font-family: 'Helvetica Neue';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 44px;
}

/* Panel Rules */
.panel{
    width: 90%;
    max-width: 500px;
    background-color: #F2F0F0;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.panel-head{
    text-align: center;
    font-size: 2.;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    
    background: rgba(92,100,132,0);
    background: -moz-linear-gradient(top, rgba(92,100,132,0) 0%, rgba(92,100,132,0.25) 93%, rgba(92,100,132,0.25) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,100,132,0)), color-stop(93%,     rgba(92,100,132,0.25)), color-stop(100%, rgba(92,100,132,0.25)));
    background: -webkit-linear-gradient(top, rgba(92,100,132,0) 0%, rgba(92,100,132,0.25) 93%, rgba(92,100,132,0.25) 100%);
    background: -o-linear-gradient(top, rgba(92,100,132,0) 0%, rgba(92,100,132,0.25) 93%, rgba(92,100,132,0.25) 100%);
    background: -ms-linear-gradient(top, rgba(92,100,132,0) 0%, rgba(92,100,132,0.25) 93%, rgba(92,100,132,0.25) 100%);
    background: linear-gradient(to bottom, rgba(92,100,132,0) 0%, rgba(92,100,132,0.25) 93%, rgba(92,100,132,0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6484', endColorstr='#5c6484', GradientType=0 );
}

.panel-body{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

/* Form Elements */

label{
    color: #000000;
	font-family: 'Helvetica Neue';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 44px;
}

input{
    width: 92%;
    height: 35px;
    color: #000000;
	font-family: 'Helvetica Neue';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
    padding-left: 3%;
    padding-right: 3%;
}

.submit{ /* Submit button */
    width: 100%;
    height: 40px;
    background-color: #6ABCEA;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

form .row{
    margin-bottom: 15px;
}
form .row:last-of-type{
    margin-bottom: 0;
}

.form-anchor {
    text-align: center;
    color: #626262;
    font-size: 12px;
    padding-bottom: 15px;
    padding-top: 15px;
}